h1,h2,h3,h4,h5,h5{
    color:#275A53;
    padding: 10px 0px 10px 0px;    
    font-family: Poppins;
    font-weight: bold;
}

p {
    font-family: Poppins; 
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    /* or 183% */

    letter-spacing: 0.0015em;

    color: #747474;
}

li{
    padding-top: 5px;
}

#landing-wrapper {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../images/Rectangle\ 13.png');
    /* background-position:center top; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-position: absolute;
    height: 250px;
}

.top-title{
    position: absolute;
    width: 277px;
    height: 59px;
    left: 38%;
    top:15%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #F1F6F4;

}

.carousel.carousel-slider {
    height: 350px;
}



/* #Green  Flat Button
==================================================*/
.green-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #275A53;
    border: 0;
    cursor: pointer;
  }
  .green-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
